body {
    margin: 0;
    padding: 0;
    background: rgb(28, 28, 28);
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgb(140, 140, 140);
}

form {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    color: white;
    font-size: 30px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding-top: 42px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: rgb(53, 53, 53);
    display: block;
    box-sizing: border-box;
    padding-left: 15px;
}

header > * {
    display: inline-block;
    padding: 32px 12px;
    position: relative;
    margin-right: 55px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

header > a:first-child {
    border-right: 1px solid white;
    padding-right: 31px;
    margin-right: 30px;
}

header > a:last-child {
    background: rgb(65, 65, 65);
}

.opener {
    background-image: url(img/oprep_combat_patrol_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    height: 756px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-top: 140px;

    border-bottom: 5px solid rgb(53, 53, 53);
}

.opener div {
    position: relative;
    z-index: 9;
    max-width: 960px;
    padding: 0 24px;
}

.opener div h2 {
    font-size: 96px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
}

.opener div p {
    line-height: 1.8;
    font-size: 20px;
    margin-bottom: 35px;
}

.opener:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.74;
    z-index: 1;
    background: rgb(13, 13, 17);
}

form input[type=image] {
    height: 74px;
}

section, .footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 24px;
}

footer {
    margin: 70px auto 0;
    background-color: black;
    padding: 73px 0 54px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
}

.footer > * {
    margin-right: 24px;
}

.footer > *:last-child {
    margin-right: 0;
}

.footer > span:first-child {
    flex: 2;
    display: flex;flex-direction: column;
}

.footer > span:first-child > span {
    margin-bottom: 12px;
}

.footer h3 {
    margin: 0 0 25px;
    padding: 0;
}

.footer a {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(140, 140, 140);
}

.footer input[type=image] {
    height: 40px;
    margin-bottom: 14px;
}

.footer .donate {
    display: flex;
    align-items: flex-end;
}

.footer svg {
    height: 54px;
}
