{{ partial "header.html" . }}
<div class="opener">
    <div>
        <h2>Control the sector</h2>
        <p>Team up as BLUFOR, OPFOR or INDEPENDENT, take over control of the sector and lead your team to victory!</p>
    </div>
</div>
<section>
    <div class="servers">
        <h2>
            Proudly provided to you with love
        </h2>
        <p>
            <script type="application/javascript">window.addEventListener('message',function(e){if(e.data.uid&&e.data.type==='sizeUpdate'){var i = document.querySelector('iframe[name="'+e.data.uid+'"]');i.style.width = e.data.payload.width;i.style.height = e.data.payload.height;}});</script><iframe src="https://cdn.battlemetrics.com/b/horizontal500x80px/7570124.html?foreground=%23ffffff&background=%231c1c1c&lines=%238c8c8c&linkColor=%231185ec&chartColor=%23ff0700" frameborder=0 style="border:0" name="bqswl"></iframe>
        </p>
    </div>
</section>
{{ partial "footer.html" . }}
