{{ partial "header.html" . }}
<div class="opener">
    <div>
        <h2>Control the sector</h2>
        <p>Team up as BLUFOR, OPFOR or INDEPENDENT, take over control of the sector and lead your team to victory!</p>
    </div>
</div>
<section>
    <div class="servers">
        <h2>
            Proudly provided to you with love
        </h2>
        <p>
            <a href="https://www.gametracker.com/server_info/217.182.196.200:2302/" target="_blank"><img src="https://cache.gametracker.com/server_info/217.182.196.200:2302/b_560_95_1.png" border="0" width="560" height="95" alt=""/></a>
        </p>
    </div>
</section>
{{ partial "footer.html" . }}
