{{ partial "header.html" . }}
<div class="opener">
    <div>
        <h2>ArmA Co-Op</h2>
        <p>Co10 Escape (and other missions) server</p>
    </div>
</div>
<section>
    <div class="servers">
        <h2>
            Our ArmA 3 server
        </h2>
        <p>
            go2tech.de provides a server which is mainly used to fulfill our own needs when playing ArmA 3 when it comes to mods, missions and scripts.
            That means that our server may change the active mission at any time, as well as being locked when we want to have a <i>private</i> round.<br>
            <br>
            However, apart from that, the server is <strong>publicly</strong> available and <strong>everyone is very welcome to join</strong> and play on it!<br>
            <br>
            Currently we mostly host the Co10 Escape mission with Altis as a map.
        </p>

        <h3>
           Proudly broad to you with love
        </h3>
        <p class="server-tracker">
            <script type="application/javascript">window.addEventListener('message',function(e){if(e.data.uid&&e.data.type==='sizeUpdate'){var i = document.querySelector('iframe[name="'+e.data.uid+'"]');i.style.width = e.data.payload.width;i.style.height = e.data.payload.height;}});</script><iframe src="https://cdn.battlemetrics.com/b/horizontal500x80px/7570124.html?foreground=%23ffffff&background=%231c1c1c&lines=%238c8c8c&linkColor=%231185ec&chartColor=%23ff0700" frameborder=0 style="border:0" name="bqswl"></iframe>
        </p>

        <h2>
            Required/Available mods
        </h2>
        <p>
            Our server supports some mods (e.g. the JSRS soundmod), both server side and client side.
            However, there is <strong>no mod required</strong> in order to play on the server!
            When connecting there may be warnings, that a mod is available on the server but missing client-side, which you can just confirm.
        </p>

        <h2>
            Suggestions
        </h2>
        <p>
            If you've any suggestion on how to make the experience on our ArmA 3 server even better, feel free to <a href="http://localhost:1313/discord">join our discord</a> and talk to us! :)
        </p>
    </div>
</section>
{{ partial "footer.html" . }}
